body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../assets/log_bg.png') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 100px;
  height: 150px;
  margin-bottom: 10px;
  image-rendering: auto;
}

h1 {
  color: #ff6600;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.social-login {
  margin: 20px 0;
}

.google-login, .facebook-login {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.facebook-login {
  background-color: #3b5998;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
